global:
  smtp_smarthost: '{{ alert_smtp_smarthost }}'
  smtp_from: '{{ alert_smtp_from }}'
  smtp_auth_username: '{{ alert_smtp_auth_username }}'
  smtp_auth_password: '{{ alert_smtp_auth_password }}'
  smtp_require_tls: true
  slack_api_url: '{{ alert_slack_api_url }}'

route:
  group_by: ['alertname']
  receiver: '{{ alert_reciver }}'
  group_interval: 1m

receivers:
- name: '{{ alert_reciver }}'
  email_configs:
  - to: '{{ alert_to_email }}'
{% raw %}
    text: 'summary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}'
{% endraw %}
    send_resolved: true
  slack_configs:
  - channel: '#prometheous'
{% raw %}
    text: "<!channel> \nsummary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}"
{% endraw %}
    send_resolved: true
