global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
# Alertmanager configuration


alerting:
  alertmanagers:
    - static_configs:
    - targets:
       - localhost:9093


#ALert rules files

rule_files:
  - "{{ prometheus_install_dir }}/alert-rules.yml"



scrape_configs:

#Adding prometheus exporters
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:{{ prometheus_port }}']
