[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure

#Change this line if you download the
#Prometheus on different path user
ExecStart={{ prometheus_install_dir}}/prometheus-{{ prometheus_version }}.linux-amd64/prometheus \
  --config.file={{ prometheus_install_dir }}/prometheus-{{ prometheus_version }}.linux-amd64/prometheus.yml \
  --storage.tsdb.path={{ prometheus_install_dir }}/prometheus-{{ prometheus_version }}.linux-amd64/data


[Install]
WantedBy=multi-user.target
